/* Global */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --blue: #223647;
    --dark: #0c0c0c;
    --green: #72c064;
    --main-font: 'Roboto', sans-serif;
    --font-color: #fff;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: var(--main-font);
    background: var(--main-color);
    color: var(--font-color);
    background: linear-gradient(45deg, var(--dark), var(--blue));
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}

/* header */

header {
    max-width: 800px;
    width: 70%;
    min-height: 450px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75),  rgba(0, 0, 0, 0.25));
    position: relative;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    padding: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
}

.header__description {
    margin-top: 15px;
    font-weight: normal;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 30px;
}